@using My_MVCBlog_Project.Entitites;

@model IEnumerable<Category>

@{
    ViewData["Title"] = "Kategoriler";
}

<div class="row">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <a asp-action="Create" asp-controller="Category" class="btn btn-primary btn-sm"><i class="fa fa-plus mr-2"></i>Kategori Ekle</a>
    </div>
</div>

<div class="row mb-4">
    <div class="col table-responsive">
        <table class="table table-hover table-striped table-sm small">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x=>x.Name)</th>
                    <th>@Html.DisplayNameFor(x=>x.Description)</th>
                    <th>@Html.DisplayNameFor(x=>x.CreatedUser)</th>
                    <th>@Html.DisplayNameFor(x=>x.CreatedDate)</th>
                    <th>@Html.DisplayNameFor(x=>x.ModifiedUser)</th>
                    <th>@Html.DisplayNameFor(x=>x.ModifiedDate)</th>
                </tr>
            </thead>
            <tbody>

                @if (Model == null || Model.Count() == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center">
                            <div>Herhangi bir kategori verisi bulunamadı</div>
                        </td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.CreatedUser</td>
                        <td>@item.ModifiedUser</td>
                        <td>@item.ModifiedDate</td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sa" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i>Güncelleme</a>
                            <a class="btn btn-danger btn-sa" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i>Silme</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>